{% extends "./base.html" %}
{% load static %}
{% load jsonify %}
{% block content %}

<div id="toolbar" class="toolbar-left">
	<nav class="vertical-top" style="margin-top: 60px;">
		<ul>
			<li id="undo-change" style="display: none;"><a onclick="undoChange()"><i class="icon-line2-action-undo"></i><span>Undo</span></a></li>
			<li id="redo-change" style="display: none;"><a onclick="redoChange()"><i class="icon-line2-action-redo"></i><span>Redo</span></a></li>
			<li id="back-to-edit" style="display:none;"><a><i class="icon-caret-left"></i><span>Back to Edit</span></a></li>
			<li id="components-button"><a><i class="icon-code side-panel-trigger"></i><span>Components</span></a></li>
			<li id="object-button"><a><i class="icon-table"></i><span>Manage Objects</span></a></li>
			<li id="workflow-button"><a><i class="icon-sitemap"></i><span>Workflow Editor</span></a></li>
			<li id="settings-side-button"><a><i class="icon-settings2"></i><span>Project Settings</span></a></li>
			<li id="history-button"><a><i class="icon-book2"></i><span>Application History</span></a></li>
		</ul>
	</nav>
</div>

<div class="body-overlay"></div>

	<div id="side-panel" class="dark">

		<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

		<div class="side-panel-wrap">

			<div class="widget clearfix">

				<h4>Components</h4>

				<nav class="nav-tree nobottommargin">
					<ul>
						<li><a href="#" onclick="addContainer(event);"><i class="icon-line-box"></i>&nbsp;Container</a></li>
						<li><a href="#" onclick="addBulletList(event);"><i class="icon-list-ul"></i>&nbsp;Bulleted List</a></li>
						<li><a href="#" onclick="addNumberedList(event);"><i class="icon-list-ol"></i>&nbsp;Numbered List</a></li>
						<li><a href="#" onclick="addHeading(event);"><i class="">h1</i>&nbsp;Heading</a></li>
						<li><a href="#" onclick="addParagraph(event);"><i class="">T </i>&nbsp;Paragraph</a></li>
						<li><a href="#"><i class="icon-photo"></i>&nbsp;Image</a></li>
						<li><a href="#"><i class="icon-form"></i>&nbsp;Form</a></li>
						<li><a href="#"><i class="icon-reorder"></i>&nbsp;Menu</a></li>
						<li><a href="#"><i class="icon-user"></i>&nbsp;User Login</a></li>
						<li><a href="#"><i class="icon-facebook"></i>&nbsp;Social</a></li>
						<li><a href="#"><i class="icon-table"></i>&nbsp;Object</a></li>
						<li><a href="#"><i class="icon-plus"></i>&nbsp;Mathematics</a></li>
					</ul>
				</nav>

			</div>

		</div>

	</div>

	<div class="container project-tab" id="settings-tab" style="margin-left:60px;padding:0;width:100%;">
		<div class="project-settings container">
			{% include "./project-settings.html" %}
		</div>
	</div>
	
	<div class="container project-tab project-active-tab" id="content-tab" style="margin:0;padding:0;width:100%;">
		<div class="project-content container" style="width:100%;padding: 0 0 0 60px;margin:0;">
			{% include "./project-content.html" %}
		</div>
	</div>
	
	<div class="container project-tab" id="object-tab">
		<div class="project-settings container">
			{% include "./project-object.html" %}
		</div>
	</div>
	
	<div class="container project-tab" id="workflow-tab">
		<div class="project-settings container">
			{% include "./project-workflow.html" %}
		</div>
	</div>
	
	<div class="container project-tab" id="history-tab">
		<div class="project-settings container">
			{% include "./project-history.html" %}
		</div>
	</div>
	
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	var Application = {{ project.file|jsonify }};
</script>
<script type="text/javascript" src="{% static 'divtags/js/project-scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'divtags/js/sandbox.js' %}"></script>
<script type="text/javascript" src="{% static 'divtags/js/ajaxSetup.js' %}"></script>
<script type="text/javascript">

$("#save-button").on('click', function(event) {
	event.preventDefault();
    console.log("form submitted!")  // sanity check
    create_post();
    save();
});
function create_post() {
    console.log("create post is working!") // sanity check
    var file = JSON.stringify(tempApplication);
    $.ajax({
	    url : "{% url 'divtags:project_save' project.id %}", // the endpoint
	    type : "POST", // http method
	    data : { "file": file }, // data sent with the post request
	
	    // handle a successful response
	    success : function(json) {
	        console.log(json); // log the returned json to the console
	        console.log("success"); // another sanity check
	        $('#json-result').append(json);
	    },
	    error : function(xhr,errmsg,err) {
	    	console.log("FAIL");
            $('#json-result').html("it didnt work"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
	});
}

</script>

{% endblock %}