{% load static %}

<div id="json-result" style="display:none;"></div>
<div class="container" id="outer-container" style="height:1000px"></div>
<div id="page-menu-button" class="page-menu-button">
	<i class="icon-reorder"></i>
</div>
<div id="element-menu-button" class="page-menu-button">
	<i class="icon-caret-down"></i>
</div>

<div class="user-header" id="user-header">
	<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
	<div id="user-logo">{% if project.logo %}<img src="{{ project.logo.url }}" alt="{{project.name}}Logo" style="height:60px;">{% else %}<span style="line-height:60px;">{{ project.name }}</span>{% endif %}</div>
	<nav id="user-menu">
		<ul id="user-menu-pages-list">
		</ul>
	</nav>
</div>
<div id="extend-page-btn">
	<i class="icon-chevron-sign-down" id="extend-page-icon"></i>
	<h4 id="extend-page-text">Extend Page Length</h4>
</div>
<div id="page-menu-options" class="side-menu" style="display:none">
	<h4 id="page-options-name"></h4>
	<h6>Set as Homepage</h6>
	<button id="homepage-toggle" class="btn btn-default">Set as Homepage</button>
	<h6>Show elements on all pages</h6>
	<label class="checkbox-inline">
		<input id="show-allpages-elements-toggle" type="checkbox" data-toggle="toggle" data-offstyle="danger" data-onstyle="success" data-on="Yes" data-off="No" data-width="50px">
	</label>
	<h6>Page Permissions</h6>
	<label class="checkbox-inline">
		<input id="permissions-toggle" type="checkbox" data-toggle="toggle" data-offstyle="success" data-onstyle="warning" data-on="Members Only" data-off="Public" data-width="150px">
	</label>
	<h6>Show in Page Header</h6>
	<label class="checkbox-inline">
		<input id="page-header-toggle" type="checkbox" data-toggle="toggle" data-offstyle="danger" data-onstyle="success" data-on="Yes" data-off="No" data-width="50px">
	</label>
	
	<h6>Page for an Object</h6>
	<label class="checkbox-inline">
		<input id="page-object-toggle" type="checkbox" data-toggle="toggle" data-offstyle="danger" data-onstyle="success" data-on="Yes" data-off="No" data-width="50px">
	</label>
	<select id="page-object-dropdown" disabled="disabled" class="form-control" style="display: inline;"></select>
	
	<h6>Page Background Colour</h6>
	<input class="form-control" id="page-background-colour" type="color" value="#ff0000" style="width:150px"/>
	
	<h6 style="margin-top:20px;margin-bottom:10px;">Heading Colour</h6>
	<div class="row" style="margin-bottom:20px;">
		<div class="col-sm-6">
			Background
			<input class="form-control" id="heading-background-colour" type="color" value="#ff0000"/>
		</div>
		
		<div class="col-sm-6">
			Text
			<input class="form-control" id="heading-text-colour" type="color" value="#ff0000"/>
		</div>
	</div>
</div>
<input id="page-identifier" value="0" type="hidden">
<div class="side-menu" id="query-builder" style="display:none;">
	<div id="element-text-editor-query-contianer">
		<h4 class="nobottommargin">Search for Objects</h4>
		<div class="row object-query-container" id="object-query-type-select-container">
			<div class="col_full object-query-block object-query-even" id="object-query-type">
				<select id="object-query-type-dropdown">
					<option disabled selected value="typeReset">Search Type</option>
					<option value="search-single">Single Object Search</option>
					<option class="user-option" value="user">Current User Fields</option>
					<option class="page-option" value="page">Current Page Fields</option>
				</select>
			</div>
		</div>
		<div class="row object-query-container" id="object-query-type-container"></div>
		<button class="button nobottommargin" id="add-object-query-btn">Add Object Query</button>
		<button class="button button-red nobottommargin" id="cancel-object-query-btn" style="float:right;">Cancel</button>
	</div>
</div>

<div class="side-menu" id="multi-query-builder" style="display:none;">
	<div id="multi-query-contianer">
		<h4 class="nobottommargin">Search for Objects with Multiple Results</h4>
		<div class="row object-query-container" id="multi-object-select-container">
			<div class="col_half object-query-block object-query-even" id="multi-query-object">
				<select id="multi-query-object-dropdown">
				</select>
			</div>
			<div class="col_half col_last object-query-block object-query-even" id="multi-query-object-field">
				<select id="multi-query-object-field-dropdown" multiple="multiple">
				</select>
			</div>
		</div>
		<div class="row object-query-container" id="multi-query-add-constraint-container">
			<button class="button button-green" id="object-multi-query-add-constraint-btn"><i class="icon-line-plus"></i> Add Constraint</button>
		</div>
		<!-- <div class="row object-query-container" id="object-query-field-container">
			<div class="col_one_third object-query-block object-query-even" id="object-query-field">
				<select id="multi-query-field-dropdown">
				</select>
			</div>
			<div class="col_one_third object-query-block object-query-even" id="object-query-operator">
				<select id="multi-query-operator-dropdown">
					<option disabled="" selected="" value="operatorReset">Operator</option>
					<option value="equal">=</option>
					<option value="not-equal">!=</option>
					<option value="lt">&lt;</option>
					<option value="gt">&gt;</option>
					<option value="lte">&lt;=</option>
					<option value="gte">&gt;=</option>
				</select>
			</div>
			<div class="col_one_third col_last object-query-block object-query-even" id="object-query-comparator-select">
				<select id="multi-query-comparator-select-dropdown">
					<option disabled="" selected="" value="comparatorReset">Comparator</option>
					<option value="userId">Current User</option>
					<option value="value">Value</option>
					<option value="query">Nested Search</option>
					<option disabled="" value="pageObject">Page's object</option>
				</select>
			</div>
		</div>
		<div class="row object-query-container" id="object-query-field-container">
			<div class="col_full object-query-block object-query-even" id="multi-query-comparator" style="display:none;">
			
			</div>
		</div> -->
		<div class="row object-query-container" id="multi-query-options-container">
			<div class="col_one_fourth">
				Limit (0 for no limit): <input class="form-control" type="number" id="query-limit" value="0">
			</div>
			<div class="col_one_fourth">
				Order By: <select id="query-order-by-field" class="form-control"></select>
				Ascending/Descending: <select id="query-order-by" class="form-control"><option value="None">None</option><option value="Asc">Ascending</option><option value="Desc">Descending</option></select>
			</div>
			<div class="col_one_fourth">
				Link to page: <select disabled id="query-link-page" class="form-control"><option disabled selected value="none">None</option></select>
			</div>
			<div class="col_one_fourth col_last">
				Display Headings: <select id="query-display-headings" class="form-control"><option value="yes">Yes</option><option value="no">No</option></select>
			</div>
		</div>
		<button class="button nobottommargin" id="add-multi-query-btn">Add Object Query</button>
		<button class="button button-red nobottommargin" id="cancel-multi-query-btn" style="float:right;">Cancel</button>
	</div>
</div>


<div class="side-menu" id="element-editor" style="display:none;">
	<h4 style="margin-bottom:10px;">Text</h4>
	<div class="row" style="margin-bottom:10px;">
		<div class="col-sm-10" id="element-inner-text"></div>
		<div class="col-sm-2"><i id="start-query-btn" class="icon-plus"></i></div>
	</div>
	<div class="row">
		<div class="col-sm-12" id="element-text-buttons-1">
			<select class="element-text-edit-btn" id="element-text-font-size-dropdown">
				<option disabled selected>Font Size</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
			</select>
			<button class="element-text-edit-btn" id="element-text-bold-btn"><strong>B</strong></button>
			<button class="element-text-edit-btn" id="element-text-italic-btn"><i>I</i></button>
			<button class="element-text-edit-btn" id="element-text-underline-btn"><u>U</u></button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" id="element-text-buttons-2">
			<button class="element-text-edit-btn" id="element-text-ol-btn"><i class="icon-list-ol"></i></button>
			<button class="element-text-edit-btn" id="element-text-ul-btn"><i class="icon-list-ul"></i></button>
			<button class="element-text-edit-btn" id="element-text-align-left-btn"><i class="icon-align-left2"></i></button>
			<button class="element-text-edit-btn" id="element-text-align-centre-btn"><i class="icon-align-center2"></i></button>
			<button class="element-text-edit-btn" id="element-text-align-right-btn"><i class="icon-align-right2"></i></button>
		</div>
	</div>
	<!-- <div class="row" style="margin-bottom:10px;">
		<div class="col-sm-12" id="element-text-buttons-3">
			<button class="element-text-edit-btn" id="element-text-link-btn"><i class="icon-line-link"></i></button>
			<button class="element-text-edit-btn" id="element-text-unlink-btn"><i class="icon-unlink"></i></button>
			<button class="element-text-edit-btn" id="element-text-insert-image-btn"><i class="icon-line-image"></i></button>
		</div>
	</div>
	<div class="row" id="element-text-link-container" style="margin-bottom:20px; display:none;">
		<div class="col-sm-9" id="element-text-link">
			<input class="form-control" type="text" id="element-text-link-input">
		</div>
		<div class="col-sm-3">
			<button id="element-text-link-button">Add</button>
		</div>
	</div> -->
	
	<div class="row" style="margin-bottom:20px;">
		<div class="col-sm-6">Text: <br><input class="form-control element-colors" id="element-colour-text" type="color" value="#ff0000"/></div>
		<div class="col-sm-6">B/ground: <br><input class="form-control element-colors" id="element-colour-background" type="color" value="#ff0000"/></div>
	</div>
	
	<div class="row" style="margin-bottom:10px;">
		<div class="col-sm-6">Width: <span id="element-size-width"></span> px</div>
		<div class="col-sm-6">Height: <span id="element-size-height"></span> px</div>
	</div>
	<div class="row" style="margin-bottom:20px;">
		<div class="col-sm-6">Top: <span id="element-position-top"></span> px</div>
		<div class="col-sm-6">Left: <span id="element-position-left"></span> px</div>
	</div>
	
	<h4 style="margin-bottom:10px;">Padding</h4>
	<div class="row" style="margin-bottom:10px;">
		<div class="col-sm-6">Top: <br><input class="form-control element-padding" id="element-padding-top" placeholder="Top" value="0" style="width:75px; display:inline-block;"/> px</div>
		<div class="col-sm-6">Bottom: <br><input class="form-control element-padding" id="element-padding-bottom" placeholder="Bottom" value="0" style="width:75px; display:inline-block;"/> px</div>
	</div>
	<div class="row" style="margin-bottom:20px;">
		<div class="col-sm-6">Left: <br><input class="form-control element-padding" id="element-padding-left" placeholder="Left" value="0" style="width:75px; display:inline-block;"/> px</div>
		<div class="col-sm-6">Right: <br><input class="form-control element-padding" id="element-padding-right" placeholder="Right" value="0" style="width:75px; display:inline-block;"/> px</div>
	</div>
	
 	<h4 style="margin-bottom:10px;">Show on all Pages</h4>
	<label class="switch">
		<input type="checkbox" id="show-all-pages" value="show">
		<span class="slider round"></span>
	</label>
</div>


<div id="elementLinkModal" class="modal">
		
	<!-- Modal content -->
	<div class="modal-content">
		<div class="modal-header">
			<span class="close">&times;</span>
			<h2>Choose Page To Link To</h2>
		</div>
		<div class="modal-body">
			<select id="page-link-select" class="form-control">
			</select>
		</div>
		<div class="modal-footer">
			<button class="button button-3d button-blue bottommargin" id="set-link-btn">Set Link</button>
		</div>
	</div>

</div>

