{% extends "./base.html" %}
{% block content %}

<div class="container">
	<h1>{{title}}</h1>
	<form method="post">
		{% csrf_token %}
		{% for field in form %}
			<p>
				{{ field.label_tag }}&nbsp;
				{{ field }}
				{% if field.help_text %}
					<small style="color: grey">{{ field.help_text|safe }}</small>
				{% endif %}
				{% for error in field.errors %}
					<p style="color: red">{{ error|safe }}</p>
				{% endfor %}
			</p>
		{% endfor %}
		<button type="submit" class="button button-3d button-teal button-xlarge nobottommargin"><i class="icon-user2"></i>Register</button>
	</form>
</div>
{% endblock %}